<div class="modal fade" id="thumbnail-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4>
          Choose image :
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
      	<div class="image-list">{{#each @root.imageList}}<div class="image-item"><img src="/thumbs{{this.path}}"></div>{{/each}}</div>
        <div class="modal-footer">
          <input class="form-control" id="modal-upload" title="upload an image" type="file">

          <button class="btn btn-default choose active" title="select an image then click choose to use it">choose</button>
          <button class="btn btn-default flush" title="flush image cache">flush</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/gallery.js"></script>
<link rel="stylesheet" href="/gallery.css" />
